* {
    box-sizing: border-box;
}

:root {
    background-color: #eee;
    accent-color: #005c5e;
    font-family: sans-serif;
    margin-inline: 0.5em;
    font-size: clamp(1rem, calc(1rem + 0.5vi), 1.4rem);
}

body {
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    background: #fff;
    color: #111;
    max-width: 20em;
    padding: 2em;
    border-radius: 0.5em;
    margin-block: 4em;
    margin-inline: auto;
}

img,
label,
input,
button,
.block-link {
    display: block;
    inline-size: 100%;
}
img,
label {
    margin-block-end: 1em;
}
input,
button,
.block-link {
    font: inherit;
    padding-inline: 0.5em;
    padding-block: 0.2em;
}
button {
    cursor: pointer;
}
.block-link {
    margin-block-start: 0.2em;
    text-align: center;
}

.error {
    color: darkred;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        background-color: #000;
        accent-color: #64adae;
    }
    body {
        background-color: #222;
        color: #fff;
    }
    .error {
        color: red;
    }
    img {
        filter: invert(100%) hue-rotate(180deg);
    }
}
