[Unit]
Description=kub-sso
After=network-online.target

[Service]
Type=simple
ExecStart=python3 -u -m kub_sso --port 8006
Restart=always

# Hardening
DynamicUser=true
ProtectHome=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
